@import 'styles/settings/__settings';

.title {
  font-size: 1.875rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.postMetadata {
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1rem;
}

.postFooter {
  text-align: center;
}

.postModified {
  color: $color-gray-500;
  font-style: italic;
  margin-bottom: 3rem;
}

.relatedPosts {
  display: flex;
  flex-direction: column;
  span {
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }
  ul {
    list-style: none;
  }
}
