@import "styles/settings/__settings";
@import "style.css";

/* Шрифти */
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI');
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Light';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Light');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  color: #000000;
  font-weight: normal;
  background: var(--background);
  background-image: url("/images/bg_battlefield.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-color: #000000;
  background-size: cover;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', 'Segoe UI Lights', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1:first-child {
  margin-top: 0;
}

p {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  margin: 1.2em 0;
}

ul {
  padding-left: 1.2em;
}

a {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: $color-primary;
}

span {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}

time {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}

address {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto), var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

figcaption {
  color: $color-gray-500;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  margin-top: 0.6em;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}
