@import 'styles/settings/__settings';

.content {
  font-size: 1.2rem;

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .wp-block-embed,
  .wp-block-embed__wrapper,
  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube.wp-embed-aspect-16-9.wp-has-aspect-ratio {
    iframe {
      border-radius: 18px !important;
    }
  }

  iframe[src*='youtube.com/embed/'],
  iframe[src*='youtu.be'] {
    border-radius: 18px !important;

    @media (min-width: 768px) {
      height: 450px !important;
      width: 85% !important;
      margin: 0 auto;
      display: block;
    }
  }

  .wp-block-embed {
    margin: 2.5rem auto;
    max-width: 95%;
    position: relative;

    @media (max-width: 768px) {
      max-width: 100%;
      margin: 1.5rem auto;
    }

    .wp-block-embed__wrapper {
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
  }

  .wp-block-embed.wp-has-aspect-ratio {
    position: relative;
    width: 100%;

    .wp-block-embed__wrapper {
      position: relative;
      height: 0;
      overflow: hidden;
      border-radius: 1rem;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 8px;
      }
    }

    &.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
      padding-top: 56.25%; // 16:9 aspect ratio
    }

    &.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
      padding-top: 75%; // 4:3 aspect ratio
    }
  }

  figcaption {
    margin-top: 0.75rem;
    font-family: $font-family-default;
    font-size: 0.9rem;
    color: $color-gray-400;
    text-align: center;
    font-style: italic;
  }
}
