@import 'styles/settings/__settings';

.footer {
  width: 100%;
  border-top: 1px solid $color-gray-100;
}

/* Footer Fonts */
.footerFont {
  font-family: 'Segoe UI Light', 'Segoe UI', var(--font-roboto),
    var(--font-inter), -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: right;

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Footer Grid Layout */
.footerGrid {
  display: grid;
  gap: 1.5rem;
  font-size: 0.8rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    'copyright'
    'navigation'
    'author';
  justify-items: center;
  text-align: center;

  .copyright {
    grid-area: copyright;
  }

  .navigation {
    grid-area: navigation;

    .flex {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }
  }

  .authorInfo {
    grid-area: author;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'author copyright'
      'author navigation';
    justify-items: start;
    text-align: left;
    align-items: start;

    .authorInfo {
      justify-self: start;
      align-self: start;
      text-align: left;
    }

    .copyright {
      justify-self: end;
      text-align: right;
    }

    .navigation {
      justify-self: end;
      text-align: right;
      margin-top: 1rem;

      .flex {
        justify-content: flex-end;
      }
    }
  }
}
